@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 211 100% 16%; /* #002751 */
    --foreground: 338 67% 97%;
    --card: 212 100% 26%;
    --card-hover: 212 100% 20%;
    --card-foreground: 338 67% 97%;
    --popover: 212 100% 6%;
    --popover-foreground: 338 67% 97%;
    --primary: 338 67% 97%;
    --primary-foreground: 211 100% 16%;
    --secondary: 212 100% 26%;
    --secondary-foreground: 338 67% 97%;
    --muted: 212 100% 26%;
    --muted-foreground: 212 30% 65%;
    --accent: 327 67% 94%; /* #fbe5f2 */
    --accent-hover: 327 67% 88%;
    --accent-foreground: 211 100% 16%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 338 67% 97%;
    --border: 212 100% 26%;
    --input: 212 100% 26%;
    --ring: 338 80% 97%;
    --radius: 0.8rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --outer-ring: 255 33% 77%; /* #b8afdc */
    --principle-1: 210 40% 50%;
    --principle-2: 190 45% 55%;
    --principle-3: 170 50% 60%;
    --principle-4: 150 55% 65%;
    --principle-5: 130 60% 70%;
    --principle-6: 110 65% 75%;
  }
  .dark {
    --background: 211 100% 16%; /* #002751 */
    --foreground: 338 67% 97%;
    --card: 212 100% 26%;
    --card-hover: 212 100% 20%;
    --card-foreground: 338 67% 97%;
    --popover: 212 100% 6%;
    --popover-foreground: 338 67% 97%;
    --primary: 338 67% 97%;
    --primary-foreground: 211 100% 16%;
    --secondary: 212 100% 26%;
    --secondary-foreground: 338 67% 97%;
    --muted: 212 100% 26%;
    --muted-foreground: 212 30% 65%;
    --accent: 327 67% 94%; /* #fbe5f2 */
    --accent-hover: 327 67% 88%;
    --accent-foreground: 211 100% 16%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 338 67% 97%;
    --border: 212 100% 26%;
    --input: 212 100% 26%;
    --ring: 338 80% 97%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --outer-ring: 255 33% 77%; /* #b8afdc */
    --principle-1: 210 40% 50%;
    --principle-2: 190 45% 55%;
    --principle-3: 170 50% 60%;
    --principle-4: 150 55% 65%;
    --principle-5: 130 60% 70%;
    --principle-6: 110 65% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background-color: hsl(var(--background));
    background-image: url('/img/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
  }
}



/* Legend key classes for page.tsx */
.legend-key { @apply h-4 w-4 rounded-full; }
.legend-key--sexual { background-color: #eeb33e !important; }
.legend-key--reproductive { background-color: #479ddd !important; }